*{ margin: 0;
padding: 0;}

.bg{
    background-color: rgb(226, 25, 25);
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(60deg, #ffaf65,#d81cdf,#b92f2f);
    background-size: 600%, 600%;
    animation: hello 15s infinite linear;


}
h1{
   
    padding: 25%;
    font-weight: bolder;
    padding-top: 40vh;
    text-align: center;
    /* display: inline-block; */
    color: white;
    font-size: 50px;
    border-top: medium;
    justify-content: center;
    
    font-family: 'Josefin Sans', sans-serif;
}
a:link{
    color: black;
    text-decoration: solid;
}
a:hover{
    color: white;
}
a:after{
    color: #ffaf65;
}
a::after{
    color: #ffaf65;
}
@keyframes hello {
    0%{
        background-position: 0 80% ;

    }
    50%{
        background-position: 100% 20%;
    }
    100%{
        background-position: 0% 85%;
    }
}